@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nerko One", cursive;
}
#container{
    min-height: 100vh;
    padding: 5%;
}
.images{
    display: grid;
    grid-temp@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nerko One", cursive;
}
#container{
    min-height: 100vh;
    padding: 5%;
}
.images{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 20px;
}
.img{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    background-color: #ececec;
    padding: 30px;
    cursor: pointer;
}
.img img{
    width: 300px;
    height: 250px;
    transition: 0.3s;
}
.img img:hover{
    transform: scale(1.05);
}
.img span{
    text-align: center;
    margin-top: 20px;
}
.model {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    backdrop-filter: blur(2px);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.model-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    width: 50%;
    height: 60%;
    position: relative;
}
.model-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.model-text{
    margin-top:10px;
    font-size: 1.5rem;
}
.model-nav{
    width: 780px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 160px;
}
button{
    background: transparent;
    outline:none;
    border: none;    
    font-size: 1.5rem;
    cursor: pointer;
    color: #fff;
}
.model .close{
    position: absolute;
    font-size: 2rem;
    top: 50px;
    right: 280px;
    font-family: sans-serif;
    cursor: pointer;
}
.model-container{
    display: none;
}
.model-container.active {
    display: grid; 
}
@media (min-width: 1200px) {
    
}

@media (max-width: 1199px) and (min-width: 992px) {
    /* Styles for desktops */
    .images img{
        width: 250px;
        height: 220px;
    }
    .model .close{
        top: 10px;
        right: 100px;
    }
    .model-content img {
        width: 90%;
        height: 90%;
        margin: auto;
    }
    .model-text{
        margin-top: 10px;
    }
    .btn-prev{
        position: absolute;
        bottom: 200px;
        left: -40px;
    }
    .btn-next{
        bottom: 200px;
        right: -40px;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    /* Styles for tablets in portrait mode */
    /* Styles for desktops */
    .images img{
        width: 200px;
        height: 200px;
    }
    .model .close{
        top: 10px;
        right: 70px;
    }
    .model{

    }
    .model-content img {
        width: 80%;
        height: 80%;
        margin: auto;
        margin-top:30px;
    }
    .model-text{
        margin-top: 10px;
    }
    .btn-prev{
        bottom: 200px;
        left: 30px;
    }
    .btn-next{
        bottom: 200px;
        right: 30px;
    }
}
@media (max-width: 767px) and (min-width: 600px) {
    /* Styles for tablets in landscape mode */
    body{
        padding: 30px;
    }
    .model{
        width: 120vw;
        height: 120vh;
    }
    .images{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .images img{
        width: 270px;
        height: 250px;
    }
    .model .close{
        top: 30px;
        right: 150px;
    }
    .model-content {
        width: 800px;
        height: 400px;
        position: relative;
    }
    .model-content img {
        width: 350px;
        height: 400px;
        margin: auto;
        margin-right: 250px;
    }
    .model-text{
        margin-top: 10px;
        text-align: center;
        font-size: 1.5rem;
    }
    .btn-prev{
        position: absolute;
        bottom: 200px;
        left: 150px;
    }
    button{
        outline: none;
        border: none;
    }
    .btn-next{
        position: absolute;
        bottom: 200px;
        right:200px;
    }
    
}

@media (max-width: 599px) and (min-width: 481px) {
    /* Styles for large mobile devices */
    body{
        padding: 30px;
    }
    .images{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .container{
        height: auto;
    }
}

@media (max-width: 480px) and (min-width: 320px) {
    /* Styles for mobile devices */
}

@media (max-width: 319px) {
    /* Styles for small mobile devices */
}late-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 20px;
}
.img{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    background-color: #ececec;
    padding: 30px;
    cursor: pointer;
}
.img img{
    width: 300px;
    height: 250px;
    transition: 0.3s;
}
.img img:hover{
    transform: scale(1.05);
}
.img span{
    text-align: center;
    margin-top: 20px;
}
.model {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    backdrop-filter: blur(2px);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.model-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    width: 50%;
    height: 50%;
}
.model-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.model-text{
    margin-top:10px;
    font-size: 1.5rem;
}
.model-nav{
    width: 800px;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    position: relative;
}
.btn-prev{
    position: absolute;
    top: 150px;
}

